* {
    color: white;
    font-family: 'Ubuntu';
}

.box {
    margin: 2rem;
    background-color: #28282B;
    box-shadow: 15px 15px 15px rgba(255, 255, 255, 0.8);
    opacity: 0.4;
    border-radius: 1rem;
    padding: 1rem 2rem;
}

.headline {
    text-decoration: underline;
    text-decoration-color: var(--green);
    text-decoration-thickness: 0.2rem;
}