<section class="min-h-screen w-screen bg-third_black lg:p-20 p-5">
    <img class="lg:h-20 lg:w-20 h-10 w-10 absolute lg:top-24 lg:left-1/4 top-4 left-1/3" src="assets/music.svg" alt="">
    <div class="lg:text-6xl text-2xl text-fourth_white font-bold">
        <h4>About <span class="text-primary">me</span></h4>
    </div>
    <div class="flex lg:flex-row flex-col items-center justify-center lg:p-10 p-2 lg:gap-20 gap-2">
        <div class="w-1/2 bg-[url('/assets/doodle.svg')] lg:hidden block">
            <img class="" src="assets/chair.svg" alt="doodle">
        </div>
        <div class="lg:w-1/2 w-full lg:my-0 my-10 text-fourth_white lg:text-[16px] text-[12px]">

            Hello Floks, I'm Abhinav Kumar, a passionate full-stack developer with a knack for building robust and
            user-friendly applications. I thrive on solving complex problems and leveraging modern technologies to
            create efficient and scalable solutions.

            I have also scored Internation Rank #1 in Science Olympiad.

            With expertise in Java, Spring MVC, Spring Boot, Node.js, Angular, Android, Flutter, React Native and many
            more, I specialize in developing seamless front-end and back-end systems. I also have experience with
            React.js, Flutter, and Vector Embedding Searching with images in MongoDB.

            As a 2023 B.Tech graduate in Computer Science, I continually strive to enhance my knowledge and skills.
            Beyond coding, I'm intrigued by data structures, algorithms, and exploring new tools like Neo4j and GraphQL.

            When I'm not coding, I enjoy brainstorming innovative tech ideas, collaborating on exciting projects, and
            staying updated with the latest trends in software development.
            <br />
            Feel free to connect with me to discuss technology, collaboration opportunities, or just to say hi!

        </div>
        <div class="w-1/2 bg-[url('/assets/doodle.svg')] lg:block hidden">
            <img class="" src="assets/chair.svg" alt="doodle">
        </div>
    </div>
</section>