.main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    margin: 1rem;
    box-shadow: 0 10px 20px rgba(55, 255, 139, 0.2);
    padding: 32px;
    overflow: hidden;
    border-radius: 10px;
    background: #212121;
    border: 2px solid #313131;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);

    height: 85vh;
}



.main:hover {
    /* box-shadow: 0 0 20px rgba(9, 117, 241, 0.8); */
    box-shadow: 0 10px 20px rgba(55, 255, 139, 0.8);
    /* border-color: #0974f1; */
    border-color: var(--green);
}


.container {
    display: flex;
    flex-direction: row;
}


.left {
    width: 50%;
    margin: 0 1rem;
}

.left img {
    width: 80%;
    height: 100%;
    border-radius: 50%;
    margin: auto;
    box-shadow: 10px 8px 0px rgba(128, 128, 128, 1);
    opacity: 0.6;
}

.left img:hover {
    opacity: 0.8;
}

.right {
    width: 50%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content {
    margin: 1rem auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right p {
    color: white;
}

.hello-msg {
    font-size: 2rem;
}

.iam {
    font-size: 2rem;
}

.name {
    font-size: 4rem;
    font-weight: 600;
    font-style: normal;
    /* color: #f00;
    opacity: 0.8; */
    color: var(--orange);
}

.work {
    font-size: 2rem;
}

/* pepole connection */
.pepole-connection {
    display: flex;
    height: 70px;
    width: 350px;
}

.pepole-connection svg {
    position: absolute;
    display: flex;
    width: 60%;
    height: 100%;
    font-size: 24px;
    font-weight: 700;
    opacity: 1;
    transition: opacity 0.25s;
    z-index: 2;
    padding: 0.25rem;
    cursor: pointer;
}

.pepole-connection .social-link1,
.pepole-connection .social-link2,
.pepole-connection .social-link3,
.pepole-connection .social-link4,
.pepole-connection .social-link5 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    color: whitesmoke;
    font-size: 24px;
    text-decoration: none;
    transition: 0.25s;
    border-radius: 50px;
}

.pepole-connection svg {
    transform: scale(1);
}

.pepole-connection .social-link1:hover {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
    animation: bounce_613 0.4s linear;
}

.pepole-connection .social-link2:hover {
    background-color: #242c34;
    animation: bounce_613 0.4s linear;
}

.pepole-connection .social-link3:hover {
    background-color: #5865f2;
    animation: bounce_613 0.4s linear;
}

.pepole-connection .social-link4:hover {
    background-color: #0a66c2;
    animation: bounce_613 0.4s linear;
}

.pepole-connection .social-link5:hover {
    background-color: #ff8000;
    animation: bounce_613 0.4s linear;
}

@keyframes bounce_613 {
    40% {
        transform: scale(1.4);
    }

    60% {
        transform: scale(0.8);
    }

    80% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}



/* From here media queries */
@media only screen and (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .left {
        width: 100%;
        margin: 5px;
        text-align: center;
    }

    .right {
        width: 100%;
        margin: 5px;
    }

    .content {
        margin: auto;
        text-align: center;
    }

    .hello-msg {
        font-size: 1.2rem;
    }

    .iam {
        font-size: 1.2rem;
    }

    .name {
        font-size: 1.2rem;
        font-family: 'Bitter';
        font-weight: 600;
        font-style: normal;
    }

    .work {
        font-size: 1.2rem;
    }

    .pepole-connection {
        display: flex;
        height: 50px;
        width: 250px;
        text-align: center;
    }
}