<section class="h-screen w-screen bg-third_black lg:p-40 p-5">
    <div class="h-full w-full flex lg:flex-row flex-col items-center justify-center lg:gap-10 gap-0">
        <div class="lg:w-1/2 w-full flex flex-col lg:items-start justify-center animate-slide-left">
            <span class="lg:text-6xl text-4xl text-fourth_white font-bold">Abhinav <span
                    class="text-primary">Kumar</span></span>
            <span class="lg:text-3xl text-2xl text-primary my-2 font-bold">Software <span
                    class="text-fourth_white">Engineer</span>
            </span>
            <span class="lg:text-start my-2 text-fourth_white text-sm lg:text-xl">
                I am a software engineer, tech enthusiast, and problem solver worldwide, specializing in developing
                innovative solutions and delivering seamless digital experiences.
            </span>

            <a class="bg-primary w-fit px-4 py-2 rounded-md shadow-lg text-fourth_white lg:my-5 my-2 flex gap-3"
                href="mailto:abhinav3254@yahoo.com">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
                </svg>
                Contact me
            </a>
        </div>
        <div
            class="lg:h-[400px] lg:w-[400px] h-32 w-32 bg-[url('/assets/sprinkles.svg')] lg:m-0 m-4 lg:block hidden animate-slide-right">
            <img class="h-full w-full object-cover" src="assets/man_sitting.svg" alt="">
        </div>
    </div>
</section>